%h2
  Balance:
  %strong{class: @customer.account.balance == 0 ? '' : 'text-success'}= "#{@customer.account.balance} #{@customer.account.currency}"
= link_to new_customer_transaction_path(@customer, params: { operation: 'deposit' }), class: 'btn btn-success btn-sm' do
  %span.glyphicon.glyphicon-plus
  = ' Deposit'
= link_to new_customer_transaction_path(@customer, params: { operation: 'withdraw' }), class: 'btn btn-danger btn-sm' do
  %span.glyphicon.glyphicon-minus
  = ' Withdraw'
