%h2 Allowance:
- if @customer.allowance.amount == 0
  %h2.text-danger no
- else
  %h2.text-info
    = "#{@customer.allowance.amount} #{@customer.account.currency}"
  Next: 
  %br
  %span.glyphicon.glyphicon-calendar
  = Date::DAYNAMES[@customer.allowance.wday]
  = next_wday(@customer.allowance.wday)