.panel.panel-default
  .panel-body

    %h4
      Weekly allowance:
      - if @customer.allowance.amount == 0
        %strong.text-danger no
      - else
        %strong.text-success= "#{@customer.allowance.amount} #{@customer.account.currency}"
    - if @customer.allowance.amount != 0
      %span.glyphicon.glyphicon-calendar
      Next on
      = "#{Date::DAYNAMES[@customer.allowance.wday]},"
      = next_wday(@customer.allowance.wday)
    %p
    = link_to edit_customer_allowance_path(@customer), class: 'btn btn-primary btn-xs' do
      %span.glyphicon.glyphicon-cog
      = ' Setup allowance'
