%h2 Allowance:
- if @customer.allowance.amount == 0
  %h2.text-danger no
- else
  %h2.text-info
    = "#{@customer.allowance.amount} #{@customer.account.currency}"
  %p
    Next on: 
    %br
    %span.glyphicon.glyphicon-calendar
    %strong
      = "#{Date::DAYNAMES[@customer.allowance.wday]},"
      = next_wday(@customer.allowance.wday)
= link_to edit_customer_allowance_path(@customer), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-cog
  = ' Setup allowance'
