%h2 Term deposits
- if @customer.deposits.empty?
  = "#{@customer.name} has no term deposits."
- else
  %table.table
    %thead
      %tr
        %th Deposit
        %th Amount
        %th Interest
        %th Term
        %th
    %tbody
      - @customer.deposits.each do |deposit|
        %tr
          %td
            %span.glyphicon.glyphicon-time
            Term deposit 
            = deposit.duration_months == 12 ? '(1 year)' : "(#{pluralize(deposit.duration_months, 'month')})"
          %td= "#{deposit.amount} #{deposit.customer.account.currency}"
          %td= "#{deposit.interest}%"
          %td= deposit.term.to_s(:short_date)
          %td
            = link_to customer_deposit_path(@customer, deposit), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
              %span.glyphicon.glyphicon-trash
              = ' Cancel'
%br
= link_to new_customer_deposit_path(@customer), class: 'btn btn-primary btn-sm' do
  %span.glyphicon.glyphicon-time
  = ' Create term deposit'
