= form_for(@customer) do |f|
  - if @customer.errors.any?
    .alert.alert-danger
      %strong= pluralize(@customer.errors.count, "error")
      prohibited this customer from being saved:
      %ul
      - @customer.errors.full_messages.each do |msg|
        %li= msg
  
  .form-group
    = f.label :name 
    %br
    = f.text_field :name, class: 'form-control', placeholder: 'Customer\'s name'
  = content_tag :button, type: :submit, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-ok
    = action
  = link_to customers_path, { class: 'btn btn-default' } do
    %span.glyphicon.glyphicon-cancel
    = ' Cancel'
