<h1>Listing customers</h1>

<% unless @customers.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Net worth</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.account.balance %> <%= customer.account.currency %></td>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Customer', new_customer_path %>
