= render 'breadcrumbs', breadcrumbs: {'Your customers' => nil}
%h2 Your customers
- if @customers.empty?
  %p You have no customers.
- else
  %table.table
    %thead
      %tr
        %th Name
        %th Net worth
        %th Actions
    %tbody
      - @customers.each do |customer|
        %tr
          %td
            = link_to customer.name, customer
          %td= "#{customer.account.balance} #{customer.account.currency}"
          %td
            = link_to customer, class: 'btn btn-info btn-xs' do
              %span.glyphicon.glyphicon-zoom-in
              = ' View'
            = link_to edit_customer_path(customer), class: 'btn btn-warning btn-xs' do
              %span.glyphicon.glyphicon-edit
              = ' Edit'
            = link_to customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
              %span.glyphicon.glyphicon-trash
              = ' Delete'
= link_to new_customer_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-user
  = ' New customer'