<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Account</strong>
  <br/>
  Balance: <%= @customer.account.balance %> <%= @customer.account.currency %>
  <%= link_to 'Settings', edit_customer_account_path(@customer) %>
  <br/>
  <%= link_to 'Deposit / Withdraw', new_customer_transaction_path(@customer) %> | 
  <%= link_to 'History', customer_transactions_path(@customer) %>
</p>

<p>
  <strong>Allowance</strong>
  <br/>
  <% if @customer.allowance.nil? %>
    No allowance set.
    <br/>
    <%= link_to 'Setup allowance', new_customer_allowance_path(@customer) %>
  <% else %>
    <%= @customer.allowance.amount %> <%= @customer.account.currency %>, <%= @customer.allowance.interval %>
    <br/>
    <%= link_to 'Edit', edit_customer_allowance_path(@customer, @allowance) %> | 
    <%= link_to 'Cancel', customer_allowance_path(@customer), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<%= link_to 'Back', customers_path %>
