<% if notice %><div class="alert alert-success"><%= notice %></div><% end %>

<h1><%= @customer.name %></h1>

<div class="panel panel-primary">
  <div class="panel-heading">Account<%= link_to 'Settings', edit_customer_account_path(@customer), { class: 'btn btn-default btn-xs pull-right' } %></div>
  <ul class="list-group">
    <li class="list-group-item">Balance: <%= @customer.account.balance %> <%= @customer.account.currency %></li>
    <li class="list-group-item">Interest: <%= @customer.account.interest %>%, on every Saturday</li>
  </ul>
  <div class="panel-footer">    
    <%= link_to 'Make a transaction', new_customer_transaction_path(@customer) %> | 
    <%= link_to 'Transactions history', customer_transactions_path(@customer) %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Allowance</div>

  <% if @customer.allowance.nil? %>
    <div class="panel-body">
      No allowance set.
    </div>
    <div class="panel-footer">
      <%= link_to 'Setup allowance', new_customer_allowance_path(@customer) %>
    </div>
  <% else %>
    <div class="panel-body">
      <%= @customer.allowance.amount %> <%= @customer.account.currency %>,
      on every <%=  Date::DAYNAMES[@customer.allowance.wday] %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Modify allowance', edit_customer_allowance_path(@customer, @allowance) %> | 
      <%= link_to 'Cancel', customer_allowance_path(@customer), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  </div>
</div>
<div>
  <%= link_to 'Back', customers_path %>
</div>
