= render 'breadcrumbs', breadcrumbs: {'Customers' => customers_path, @customer.name => nil}

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        %h1
          %small Balance:
          %span.text-success= @customer.account.balance
          %small= @customer.account.currency
        %p
          %strong Interest:
          - if @customer.account.interest == 0
            %span.text-danger
              %strong 0%
          -else
            %span.text-success
              %strong= "#{@customer.account.interest}%"
            on the 1st of each month.
        %ph3
          = link_to 'Deposit', new_customer_transaction_path(@customer, params: { operation: 'deposit' }), class: 'btn btn-success btn-sm'
          = link_to 'Withdraw', new_customer_transaction_path(@customer, params: { operation: 'withdraw' }), class: 'btn btn-warning btn-sm'
          = link_to 'Account settings', edit_customer_account_path(@customer), class: 'btn btn-primary btn-sm'
    .panel.panel-default
      .panel-body
        - if @customer.allowance.nil?
          %h5
            %strong Allowance:
            %span.text-danger
              %strong None
          = link_to 'Setup allowance', new_customer_allowance_path(@customer), class: 'btn btn-success btn-sm'
        - else
          %h5
            %strong Allowance:
            %span.text-success
              %strong= @customer.allowance.amount
            = "#{@customer.account.currency},"
            on every 
            %strong= Date::DAYNAMES[@customer.allowance.wday]
          = link_to 'Modify', edit_customer_allowance_path(@customer, @allowance), class: 'btn btn-primary btn-sm'
          = link_to 'Cancel', customer_allowance_path(@customer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
  .col-md-6.well
    %p.lead Recent transactions  
    - if @recent_transactions.empty?
      %p No transactions found.
    - else
      %table.table.table-condensed
        %thead
          %tr
            %th Date
            %th Amount        
            %th Description
        %tbody
          - @recent_transactions.each do |transaction|
            %tr
              %td= transaction.created_at.to_s(:short_date)
              %td{ class: transaction.operation == 'deposit' ? 'text-success' : 'text-danger' }= "#{transaction.operation == 'deposit' ? '+' : '-'}#{transaction.amount}"
              %td= transaction.description
      = link_to 'Transactions history', customer_transactions_path(@customer), class: 'btn btn-info pull-right'
= link_to 'Back to customers', customers_path, class: 'btn btn-default'
