= render 'breadcrumbs', breadcrumbs: {'Customers' => customers_path, @customer.name => nil}

.row
  .col-md-6
    = render 'account'
    = render 'allowance'
  .col-md-6
    = render 'recent_transactions'
= render 'deposits'

= link_to 'Back to customers', customers_path, class: 'btn btn-default'
