= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-signin'}) do |f|

  %h2.form-signin-heading Please sign in
  = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email address'
  %p
  = f.password_field :password, class: 'form-control', placeholder: 'Password'

  %label.checkbox
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me
    - if devise_mapping.recoverable? && controller_name != 'passwords'
      = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right'


  = f.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block'
  %br
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %p 
      %h4 Don't have an account?
    = link_to "Register now", new_registration_path(resource_name), class: 'btn btn-success btn-block pull-right'