= render 'breadcrumbs', breadcrumbs: {'Customers' => customers_path, @customer.name => @customer, 'Create new deposit' => nil}

.col-md-4
  = form_for([@customer, @deposit]) do |f|
    - if @deposit.errors.any?
      .alert.alert-danger
        %h2= "#{pluralize(@deposit.errors.count, "error")} prohibited this deposit from being saved:"
        %ul
        - @deposit.errors.full_messages.each do |msg|
          %li= msg

    .form-group
      = f.label :amount
      .input-group
        = f.text_field :amount, class: 'form-control'
        %span.input-group-addon lei
    .form-group
      = f.label 'Deposit Term:'
      = f.select :duration_months, {'1 month' => 1, '3 months' => 3, '6 months' => 6, '1 year' => 12}, {}, {class: 'form-control'}
    .form-group
      = f.label :interest
      .input-group
        = f.text_field :interest, class: 'form-control'
        %span.input-group-addon %
    
    = f.submit 'Create', class: 'btn btn-primary'
    = link_to 'Back', @customer, class: 'btn btn-default'

