<%= form_for(@allowance, url: customer_allowance_url) do |f| %>
  <% if @allowance.errors.any? %>
    <div id="alert alert-danger">
      <h2><%= pluralize(@allowance.errors.count, "error") %> prohibited this allowance from being saved:</h2>

      <ul>
      <% @allowance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Every week on' %>
    <%= f.select :wday, Date::DAYNAMES.map { |d| [d, Date::DAYNAMES.index(d)]}, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <div class="input-group">
      <%= f.text_field :amount, class: 'form-control' %>
      <span class="input-group-addon"><%= @allowance.customer.account.currency %></span>
    </div>
  </div>
  <div>
    <%= f.submit 'Confirm', class: 'btn btn-primary' %>
  </div>
<% end %>
