= form_for(@allowance, url: customer_allowance_url) do |f|
  - if @allowance.errors.any?
    .alert.alert-danger
      %h2= "#{pluralize(@allowance.errors.count, "error")} prohibited this allowance from being saved:"
      %ul
      - @allowance.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label 'Every week on'
    = f.select :wday, Date::DAYNAMES.map { |d| [d, Date::DAYNAMES.index(d)]}, {}, { class: 'form-control' }
  .form-group
    = f.label :amount
    .input-group
      = f.text_field :amount, class: 'form-control'
      %span.input-group-addon= @customer.account.currency
  %div
    = content_tag :button, type: :submit, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-ok
      = ' Confirm'
    = link_to 'Back', @customer, class: 'btn btn-default'
    - if delete_button
      = link_to 'Delete allowance', customer_allowance_path(@customer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger pull-right'
