%h1= "Listing transactions for #{@customer.name}"

- unless @customer.transactions.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Operation
        %th Amount
        %th Description

    %tbody
      - @customer.transactions.each do |transaction|
        %tr
          %td= transaction.created_at.to_s(:long)
          %td= transaction.operation
          %td= "#{transaction.amount} #{@customer.account.currency}"
          %td= transaction.description

%br

= link_to 'Back', @customer, class: 'btn btn-default'