- if @customer.transactions.empty?
  %p No transactions found.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Operation
        %th Amount        
        %th Balance
        %th Description
    %tbody
      - @customer.transactions.reverse.each do |transaction|
        - tclass = transaction.operation == 'deposit' ? 'text-success' : 'text-danger'
        %tr
          %td= transaction.created_at.to_s(:long)
          %td{class: tclass}= transaction.operation
          %td{class: tclass}
            %strong= "#{transaction.amount} #{@customer.account.currency}"
          %td
            %strong= "#{transaction.rbalance} #{@customer.account.currency}"
          %td= transaction.description

%br

= link_to 'Back', @customer, class: 'btn btn-default'