<h1>Listing transactions for <%= @customer.name %></h1>

<% unless @customer.transactions.empty? %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Operation</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @customer.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.created_at.to_s(:long) %></td>
          <td><%= transaction.operation %></td>
          <td><%= transaction.amount %> <%= @customer.account.currency %></td>
          <td><%= transaction.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br/>

<%= link_to 'Back', @customer %>