!!!
%html
  %head
    %title Mr. Bank
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    / = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'true'
    = csrf_meta_tags
    = stylesheet_link_tag 'bootstrap.min', media: 'screen'
    = stylesheet_link_tag 'jumbotron-narrow', media: 'screen'

    /[if lt IE9]
      = javascript_include_tag 'html5shiv'
      = javascript_include_tag 'respond.min'
  %body
    .container
      = yield
    %script{src: '//code.jquery.com/jquery.js'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'bootstrap.min'